<!DOCTYPE html>
<html>
<%- include('partials/head',{ title : "Cotizador de cortinas" }) %>

  <body>
    <%- include('partials/header') %>
      <main class="container">
        <section class="col-12 mt-5 mx-auto">
          <article class="card shadow">
            <form action="/accessories/add" method="POST" id="form-system" class="needs-validation" novalidate>

            <div class="card-header d-flex justify-content-between">
              <h5>
                Nuevo Accesorio
              </h5>
              <div>
               

                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" checked value="1" id="visible" name="visible">
                    <label class="form-check-label" for="visible">
                      Visible
                    </label>
                  </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                  <label for="name" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="name"
                    name="name" required/>
                </div>
                <div class="col-12 col-md-3 col-lg-2 mb-3">
                  <label for="price" class="form-label">Precio</label>
                  <input type="number" class="form-control" id="price" name="price" required/>
                </div>
                <div class="col-12 col-md-3 col-lg-2 mb-3">
                  <label for="salePrice" class="form-label">Precio de venta</label>
                  <input type="number" class="form-control" id="salePrice" name="salePrice" required/>
                </div>
                <div class="col-12 col-md-3 col-lg-2 mb-3">
                  <label for="idLocal" class="form-label">ID Local</label>
                  <input type="number" class="form-control" id="idLocal" name="idLocal" required/>
                  <span id="msg-error" class="text-danger text-small ms-2" hidden>El ID está en uso</span>
                </div>
                <div class="col-12 col-md-3 col-lg-2 mb-3">
                  <label for="limit" class="form-label">Límite</label>
                  <input type="number" class="form-control" id="limit" name="limit" required/>
                </div>

                <div class="text-end">
                  <a href="/accessories" class="btn btn-secondary mb-2">Volver a accesorios</a>
                  <button type="submit" class="btn buttons__btn-custom mb-2">Guardar cambios</button>
                </div>
              </div>
              </form>

            </div>
          </article>
        </section>
      </main>
      <%- include('partials/footer') %>
        <%- include('partials/scripts') %>
        <script src="/javascripts/accessories.js"></script>

  </body>

</html>