<!DOCTYPE html>
<html>
<%- include('partials/head',{ title : "Cotizador de cortinas" }) %>

    <body>
        <%- include('partials/header') %>
            <main class="container">
                <section class="col-12 mt-5 mx-auto">
                    <article class="card shadow">
                        <div class="card-body p-2">
                            <embed src="./documents/catalogo.pdf" type="application/pdf" width="100%" height="500px" />
                        </div>
                    </article>
                </section>
            </main>
            <%- include('partials/footer') %>
                <%- include('partials/scripts') %>
                <script src="./javascripts/catalogue.js"></script>
    </body>

</html>