<!DOCTYPE html>
<html>
<%- include('partials/head',{ title : "Cotizador de cortinas" }) %>

  <body>
    <%- include('partials/header') %>
      <main class="container">
        <section class="col-12 mt-5 mx-auto">
          <article class="card shadow">
            <div class="card-body">

              <div class="col-12 mb-3">
                <div class="alert alert-warning">
                  <h6> ¿Backout Premium o Standard? <i class="fas fa-info-circle"></i></h6>
                  <hr>
                 <p>El <b>blackout premium</b> es lo que más sé está usando ya que es de mejor calidad que el <b>standard</b> en cuanto a resistencia al sol y durabilidad.
                  Nosotros siempre recomendamos que ofrezcan el premium y si los clientes quieren economizar pasarle la opción standard</p>
                </div>
            </div>

            </div>
          </article>
        </section>
      </main>
      <%- include('partials/footer') %>
        <%- include('partials/scripts') %>

  </body>

</html>