<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container {
            padding: 20px;
        }
        .row {
            margin-top: 15px;
            text-align: right;
        }
        .d-flex {
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Pedido #</h1>
            <div class="card">
                <div class="card-header">
                    <h4>Referencias: </h4>
                </div>
                <div class="card-body">

                </div>
                <div class="card-footer">
                    <hr>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>