<!DOCTYPE html>
<html>
<%- include('partials/head',{ title : "Cotizador de cortinas" }) %>

  <body>
    <%- include('partials/header') %>
      <main class="container">
        <section class="col-12 mt-5 mx-auto">
          <article class="card shadow">
            <div class="card-header">
            <h5>Nuevo presupuesto</h5>
            </div>
            <div class="card-body">

            </div>
          </article>
        </section>
      </main>
      <%- include('partials/footer') %>
        <%- include('partials/scripts') %>

  </body>

</html>