<header>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand border rounded bg-white px-3 px-md-4 pt-md-3 pt-sm-3 pb-2 pb-md-3" href="https://www.blancomad.com/index.php">
                <img class="d-inline-block align-top mt-3" src="/images/logo-blancomad2.svg" alt="imagen">
            </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse mt-5 mt-lg-4" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/quotations/add">Cotizador</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/quoters">Cotizaciones</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Informaci칩n
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Cat치logo</a></li>
                  <li><a class="dropdown-item" href="#">Manual de instalaci칩n</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Ancho de telas</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  ABMs
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/chains">Cadenas</a></li>
                  <li><a class="dropdown-item" href="/colors">Colores</a></li>
                  <li><a class="dropdown-item" href="/patterns">Modelos</a></li>
                  <li><a class="dropdown-item" href="/systems">Sistemas</a></li>
                  <li><a class="dropdown-item" href="/supports">Soportes</a></li>
                  <li><a class="dropdown-item" href="/cloths">Telas</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Precios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users">Usuarios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Presupuestos</a>
              </li>
            </ul>
         
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <% if (locals.userLogin) { %>
                <li class="nav-item">
                  <a class="nav-link" href="/users/logout">Cerrar sesi칩n</a>
                </li>
              <% } %>
              </ul>
          </div>
        </div>
      </nav>
</header>