<!-- <div class="spinner" id="spinner" hidden></div> -->

<!-- <div id="spinner" hidden>
    <div class="lds-ellipsis" ><div></div><div></div><div></div><div></div></div>
</div> -->

<div id="spinner" hidden>
    <div class="lds-spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>