<!-- Modal -->
<%- include('../partials/spinner') %> 

<div class="modal fade" id="quoterModal" tabindex="-1" aria-labelledby="quoterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-body">
          <main class="container">
            <section class="col-12 mt-5 mx-auto">
              <article class="card shadow">
                <div class="card-body">
                  <form class="row " action="" id="form-quoter" novalidate>
                    <div class="col-12 col-md-6 col-lg-4 mb-3">
                      <div class="form-floating ">
                        <select class="form-select" id="systems" required>
                          <option value="" selected hidden>Seleccione...</option>
                      
                        </select>
                        <label for="systems">Sistema</label>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-3"  id="cloths-box">

                      <div class="form-floating">
                        <select class="form-select" id="cloths" name="cloths"  required>
                          
                        </select>
                        <label for="cloths">Tela</label>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-3" id="colors-box">

                      <div class="form-floating">
                        <select class="form-select" id="colors" name="colors" required>
                       
                        </select>
                        <label for="colors">Color</label>
                      </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 mb-3" id="supports-box">

                      <div class="form-floating ">
                        <select class="form-select" id="supports" name="supports" required>
                         
                        </select>
                        <label for="supports">Soporte</label>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-3"  id="patterns-box">

                      <div class="form-floating ">
                        <select class="form-select" id="patterns" name="patterns" required>
                         
                        </select>
                        <label for="patterns">Modelo</label>
                      </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 mb-3"  id="chains-box">

                      <div class="form-floating ">
                        <select class="form-select" id="chains" name="chains" required>
                         
                        </select>
                        <label for="chains">Cadena</label>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-3" id="width-box">
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="width" name="width" required>
                        <label for="width">Ancho de paño (cm)</label>
                      </div>
                      <span id="errorWidth" class="ms-3 small text-danger"></span>

                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-3  box-hidden" id="railWidth-box">
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="railWidth" name="railWidth" required>
                        <label for="railWidth">Ancho de riel (cm)</label>
                      </div>
                      <span id="errorRailWidth" class="ms-3 small text-danger"></span>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 mb-3 box-hidden" id="large-box">
                      <div class="form-floating mb-3 " >
                        <input type="text" class="form-control" id="large" name="large" required>
                        <label for="large">Largo</label>
                      </div>
                      <span id="errorLarge" class="ms-3 small text-danger"></span>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 mb-3" id="heigth-box">
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="heigth" name="heigth" required>
                        <label for="heigth">Alto (cm)</label>
                      </div>
                      <span id="errorHeigth" class="ms-3 small text-danger"></span>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 mb-3">
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="referenceQuoter" name="reference" required>
                        <label for="heigth">Nombre de referencia</label>
                      </div>
                    </div>
                   
                  <div class="col-12 col-md-8">
                    <div id="suggestionHeigth" class="alert"></div>
                      <div class="alert alert-success text-center py-2" id="amountQuoter-box" hidden>
                       <p id="amountQuoter"></p>
                      </div>
                     
                  </div>
                  <input hidden class="form-check-input" type="checkbox" value="0" id="lineBlack">

                    <div class="d-flex flex-column flex-md-row justify-content-end flex-wrap gap-2">
                      <a type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn-cancel-formModal">CANCELAR</a>
                      <button type="submit" id="btn-send-formModal" class="btn buttons__btn-custom" onclick="setLineBlack(0)">COTIZAR CORTINA</button>
                       <button hidden type="submit" id="btn-send-formModal" class="btn btn-dark" onclick="setLineBlack(1)">LINEA BLACK</button>
                    </div>
                  </form>
                </div>
              </article>
            </section>
          </main>
        </div>
      </div>
    </div>
  </div>
  <script src="/javascripts/quoterFormModal.js"></script>
