.login__section {
  position: relative;
  article {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 350px;
    width: 280px;
    margin: 90px auto;
    h1 {
      color: darkred;
      line-height: 30px;
      text-align: center;
      font-size: 24px;
    }
  }
}
