$component-active-bg : darken($color: darkblue, $amount: 20);
$primary : darken($color: red, $amount: 20);
$accordion-button-active-color:           shade-color($primary, 10%);
$danger : darken($color: red, $amount: 5);
